/* Aidan Carey, April 2025 */

* {
  padding: 0;
  margin: 0;
  background-color: WhiteSmoke;
  color: #212121;
  font-family: Verdana, sans-serif;
  font-size: 1.25rem;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin: 1rem;
}

#words-container {
  padding: 1rem;
  border: 1px solid gray;
  width: 60vw;
}

#current-words {
  width: 60vw;
}

#typed-words {
  color: gray;
}

#typing-area {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

#current-word {
  color: gray;
}
